<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DIAL_PHONE"
        tools:ignore="SystemPermissionTypo" />

    <application
        android:name="com.seoulfitu.seoulfitu.SeoulGongGongApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeoulGongGong"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".ui.facility.detail.SportsFacilityDetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_MAP_CLIENT_ID}" />

        <activity
            android:name=".ui.facility.SportsFacilityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.filter.facility.SportsFacilityFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.filter.service.SportsServiceFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sports_service_list.SportsServiceListActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.sports_service_detail.SportsServiceDetailActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.AppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

    </application>

</manifest>
